.container {
  padding: 1rem;
  background-color: #e9dafb;
  margin: 1px 0;
  color: #090232;
}
.active {
  font-weight: 600;
  padding: 1rem;
  background-color: #c9aef1;
  margin: 1px 0;
  color: #090232;
  border: 2px solid #e9dafb;
}
.container:hover {
  cursor: pointer;
  background-color: #c9aef1;
  border: 2px solid #e9dafb;
}
.container:last-child {
  margin-bottom: 2.5rem;
}
.containerWithPlayer {
  padding: 1rem;
  background-color: #e9dafb;
  margin: 1px 0;
  color: #090232;
}
.containerWithPlayer:last-child {
  margin-bottom: 6.5rem;
}
