.innerContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerContainer {
    position: relative;
    bottom: 0;
}

.footer {
    background: #539CED;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: .5rem 0;
}

.footer small {
    margin: 0;
}

@media (max-width: 670px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: .5rem 1rem;
    }
  }