.card {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
  
.card img {
    width: 160px;
    margin-bottom: .5rem
}

.link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.title {
    margin-top: 0.5rem;
  }