.container {
    background: linear-gradient(180deg, #090232 0%, #2D124F 100%);
    width: 100%;
    margin: 0 auto;
    padding: 0 12.5% 1rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2rem;
}