.container {
    background: linear-gradient(180deg, #090232 0%, #2D124F 100%);
    width: 100%;
    margin: 0 auto;
    padding: 0 12.5% 1rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 2rem;
}

.strong {
    font-weight: 600;
}

.episodes div:first-child {
    border-radius: .5rem .5rem 0 0;
}

.episodes div:last-child {
    border-radius: 0 0 .5rem .5rem;
}