.header {
  margin-bottom: 3rem;
}

.errorContainer {
  min-height: calc(100vh - 146px);
  background: linear-gradient(180deg, #090232 0%, #2d124f 100%);
  width: 100%;
  padding: 0 12.5% 1rem;
}
.errorContainer h3 {
  margin: 0;
  padding-top: 3rem;
}

.container {
  min-height: calc(100vh - 110px);
  background: linear-gradient(180deg, #090232 0%, #2d124f 100%);
  width: 100%;
  margin: 0 auto;
  padding: 0 12.5% 1rem;
}

.titleContainer {
  padding: 1rem 0;
}

.titleContainer h4 {
  margin: 0;
}

.strong {
  font-weight: 600;
  margin-bottom: 0;
}

.subtitle {
  margin: 0 auto 2rem;
}

.category {
  display: inline-block;
  color: #000;
  background: #539ced;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0.5rem 0.75rem 0;
  border-radius: 3rem;
  text-decoration: none;
}

.genreRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.genreRow .title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.viewMore {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  text-decoration: none;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  color: #fff;
  background: #539ced;
  padding: 0.5rem 1.5rem;
  margin: 0.25rem 0.5rem 0.75rem 0;
  border-radius: 3rem;
  border-width: 0;
  font-weight: 600;
  cursor: pointer;
}

@media (min-width: 1500px) {
  .container {
    padding: 0 15% 1rem;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0 20% 1rem;
  }
}

@media (max-width: 600px) {
  .podcasts {
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  }
}

@media (max-width: 383px) {
  .podcasts {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}

@media (max-width: 373px) {
  .podcasts {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
}

@media (max-width: 346px) {
  .podcasts {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}
