.container {
  background: linear-gradient(180deg, #090232 0%, #2D124F 100%);
  width: 100%;
  margin: 0 auto;
  padding: 0 12.5% 1rem;
}

.logo {
  width: 300px;
  margin-top: 1.5rem;
}

.titleContainer {
  padding: 1rem 0;
}

.titleContainer h5 {
  margin: 0;
}

.strong {
  font-weight: 600;
  margin-bottom: 0;
}

.subtitle {
  margin: 0 auto 2rem;
}

.category {
  display: inline-block;
  color: #000;
  background: #539CED;
  padding: .25rem 1rem;
  margin: .25rem .5rem .75rem 0;
  border-radius: 3rem;
}

.genreRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.genreRow .title {
  font-weight: 600;
  margin-bottom: .25rem;
}

.podcasts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

.viewMore {
  display: flex;
  align-items: center;
  padding-bottom: 2rem;
  text-decoration: none;
}

.buttonContainer {
  text-align: center;
}

.buttonContainer button {
  color: #fff;
  background: #539CED;
  padding: .5rem 1.5rem;
  margin: .25rem .5rem .75rem 0;
  border-radius: 3rem;
  border-width: 0;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 600px) {
  .podcasts {
    grid-template-columns: repeat(auto-fill, minmax(144px, 1fr));
  }
}